:root{
    --header-color: #212121;
    --paragraph-color: #757575;
    --background: #F5F4FA;
    --sections-background: #2F303A;
    --selection-color: #2196F3;
    --white-color: #ffffff;
    --icon-color: #AFB1B8;
    --timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

html{
    box-sizing: border-box;
}

/* контейнер */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* обнуление margins */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

body{
    color: var(--headen-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
/* навигация в head */

.header{
    border-bottom: 1px solid #ECECEC;
    background-color: var(--white-color);  
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* логотип*/
.logo{
    margin: 0;
    padding: 0;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo span{
    color: var(--selection-color);
}

.logo .foot-color{
    color: var(--white-color);
}

/* cписки-ссылок */
ul a{
    color:inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

/*навигация header*/
.nav-list{
    display: flex;
}

.nav-list .item{
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--timing-cubic);
}

.nav-list .item:not(:last-child){
    margin-right: 50px;
}

.nav-list .item:hover,
.nav-list .item:focus{
    color: var(--selection-color);
}

.main-page{
    color: var(--selection-color);
}

.main-page::after{
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width:100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--selection-color);
}   

/* header контакты */
.contact-list{
    display: flex;
    margin-left: auto;
}

.contact-list .item:not(:last-child){
    margin-right: 50px;
}

.contact-list a{
    display: inline-flex;
    color: var(--paragraph-color);

    transition: color 250ms var(--timing-cubic);
}

.contact-list a:hover,
.contact-list a:focus{
    color: var(--selection-color);

}

.contact-list a:hover .icon,
.contact-list a:focus .icon{
    fill: var(--selection-color);
}

.contact-list .icon{
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: var(--icon-color);

    transition: fill 250ms var(--timing-cubic);
  }

/* hero */
.overlay{
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    text-align: center;
    background-color: var(--sections-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/main-page/hero-img.jpg);
}

.hero-title{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
}

.hero-btn{
    display: inline-block;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--selection-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}


/*   заголовки страницы */ 
.content-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

/* блок с описанием преимуществ */

.advantages-section{
    padding-top: 94px;
}

.advantages-list{
    display: flex;
}

.advantages-list .item{
   width: calc((100% - 90px)/4);
   margin-right: 30px;
}

.advantages-list .item:last-child{
    margin-right: 0;
}

.advantages-list .icon{
    /* display: flex; */
    width: 270px;
    height: 120px;
    padding-top:25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: var(--background);
}

.advantages-list h2{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.advantages-list p{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


/* секция "чем занимаемся" */

.features-section{
    padding-top: 94px;
    padding-bottom: 94px;  
}

.features-list{
    display: flex;
}

.features-list .item{
    position: relative;
    width: calc((100% - 60px) /3);
    height: 294px;
    margin-right: 30px;
}

.features-list .item:last-child{
    margin-right: 0;
}

.features-list img{
    padding: 0;
    margin: 0;
}

.feature-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}
/* секция о команде */

.command-section{
    background-color: var(--background);
    padding-top: 94px;
    padding-bottom: 94px;
}
.command-list{
    display: flex;
}

.command-list .item{
    width: calc((100% - 90px) /4);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--white-color);

}

.command-list .item:last-child{
    margin-right: 0;
}

.command-card{
    padding: 30px 32px;
}
.command-card>h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.command-card>p{
    margin-bottom: 16px;
    color:var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.command-social-list{
    display: flex;
    justify-content: center;
}
.command-social-list li{
    width: 44px;
    margin-right: 10px; 
    padding: 0;
}

.command-social-list li:last-child{
    margin-right: 0;
}
    
.command-social-list .icon{
    width: 44px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    fill: var(--icon-color);

    transition: fill 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic);
}

.command-social-list .icon:hover, 
.command-social-list .icon:focus{
    border:1px;
    border-radius: 50%; 
    fill: var(--white-color);
    background-color: var(--selection-color);    
}

/* секция клиентов */
.client-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-list{
    display:flex;
}

.client-list .item{
    width: calc((100% - 150px)/6);
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;    

    transition: border 250ms var(--timing-cubic);
}

.client-list:last-child{
    margin-right: 0;
}

.client-list .icon{
    width: 170px;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    fill: var(--icon-color);

    transition:fill 250ms var(--timing-cubic);
}

.client-list .item:hover,
.client-list .item:focus{
    border: 1px solid var(--selection-color);
}

.client-list .item:hover .icon,
.client-list .item:focus .icon{
    fill: var(--selection-color);
}


/* футер */
.page-footer{
    padding-bottom: 60px;
    background-color: var(--sections-background);
    color: var(--white-color);
}

.footer{
    display:flex;
    align-items: baseline;
}

.adress-section .logo{
    display: block;
    margin-bottom: 20px;    
    padding-top: 60px;
}
.adress-section{
    margin-right: 70px;
}
.adress-section address{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    font-style:var(--selection-color);
    line-height: 1.7;
    letter-spacing: 0.03em;
    
}
.adress-section a{
    /* display: block; */
    padding: 0;
    margin: 0;
    color:rgba(255, 255, 255, 0.6);
}

address .item{
    padding-top: 9px;
}

.social{
    margin-right: 93px;
}

.social h2{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.links-list{
    display:flex;
}

.links-list .item{
    width: 44px;
    margin-right: 10px;
}
.links-list .item:last-child{
    margin-right: 0;
}

.links-list .icon{
    width: 44px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;   
    background: rgba(255, 255, 255, 0.1);
    fill: var(--icon-color);

    transition: fill 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic);
}

.links-list .icon:hover, 
.links-list .icon:focus{
    border:1px;
    border-radius: 50%; 
    fill: var(--white-color);
    background-color: var(--selection-color);    
}

/* формма россылки */

.mail-form{
    /* position: relative;
    display: inline-block; */
    /* width: 570px;
    height: 86px; */
}

.mail-form>label{
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.mail-form>.field{
    display: inline-flex;
    align-items: center;
}

.mail-form input{
    width: 358px;
    height: 50px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background-color: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.mail-form :placeholder-shown{
    padding-left: 16px;
}

.mail-form button{
    /* position: relative; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--selection-color);
    border-color: var(--selection-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
}

    .mail-form button::after{
    /* position: absolute;
    top: 50%;
    right: 28px;
    
    transform: translateY(-50%); */

    display: inline-block;
    content: " ";
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/main-page/icon-send.svg);
    background-size: contain;
}

/* Модальное окно */
.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms var(--timing-cubic);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform:translate(-50%, -50%) scale(0.9);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;   
    width: 528px;
    height: 581px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-cubic); 
}


.modal .icon{
    width: 100%;
    height: 100%;
    text-align: center;

    transition: fill 250ms var(--timing-cubic);
}

.close-button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    background-color: var(--white-color);
}

.close-button:hover .icon,
.close-button:focus .icon{
    fill: var(--selection-color);
}

.modal-form{
    width: 528px;
    height: 581px;
}

.modal-form>.main-section{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.modal-form b{
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}


.form-label{
    display:inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.01em;
    color: var(--paragraph-color);
}

.form-field{
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
}

.form-input{
    display:inline-block;
    margin-bottom: 10px;
    padding-left: 40px;
    width:100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border 250ms var(--timing-cubic);
}

.form-input:focus{
    border: 1px solid var(--selection-color);
    border-width: 1px;
    outline: none;
}

.form-field-icon{
    position: absolute;
    top: 25px;
    left: 14px;
    width: 18px;
    height: 18px;

    transition: fill 250ms var(--timing-cubic);
}

.form-input:focus + .form-field-icon{
    fill: var(--selection-color);
}

.form-textarea{
    display:inline-block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
   
    
    transition: border 250ms var(--timing-cubic);
}

.form-textarea:focus {
    border: 1px solid var(--selection-color);
    border-width: 1px;
    outline: none;
}

.form-textarea::placeholder{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-field{
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkbox-field>label{
    display: inline-flex;
    align-items: center;
}


.checkbox-field .text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

.checkbox-field .icon{
    display: inline-block;
    width: 16px;
    height:16px;
    margin-right: 8px;
    border: 1px solid var(--header-color);
    border-radius: 2px;
}

.checkbox:checked ~.icon{
    background-color: var(--selection-color);
    border-color: var(--selection-color);    
    background-image: url(../images/main-page/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.checkbox-text{
    color: var(--selection-color);
    text-decoration: underline;  
}

.submit-btn{
    position: absolute;
    left: 164px;
    bottom: 40px;
    width: 200px;
    height: 50px;
    background-color: var(--selection-color);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9 ;
} 

.submit-btn:hover,
.submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* PORTFOLIO */

.projects-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    
}

.projects-section button{
    padding: 6px 22px;
    margin-right: 8px;
    border-radius: 4px;
    border: none;
    background: var(--background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    
    transition: background-color 250ms var(--timing-cubic), color 250ms var(--timing-cubic);
}

.projects-section button:hover,
.projects-section button:focus{
    background-color: var(--selection-color);
    color: var(--white-color);
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.projects-list .item{
    width: calc((100% - 2*30px) /3);
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: var(--white-color);
}

.projects-list .item:nth-child(3n){
    margin-right: 0;
}

.projects-list .item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.projects-list .item:hover,
.projects-list .item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list .item:hover .project-thumb::before{
    transform: translateY(0);
}

.projects-list .item:hover .text{
    transform: translateY(0);
    opacity: 1;
}

.project-thumb{
    position: relative;
    overflow: hidden;
    height: 294px;
}

.project-thumb::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-cubic);
}


.project-thumb .text{
    position: absolute;
    opacity: 0;
    top: 63px;
    left: 24px;
    color: var(--white-color);
    font-size: 18px;
    line-height: 1.55;

    transform: translateY(100%);
    transition: transform 250ms var(--timing-cubic), opacity 250ms var(--timing-cubic);
}


.card-container{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;

}
.card-container h2{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-container p{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

