$header-color: #212121;
$paragraph-color: #757575;
$background: #F5F4FA;
$sections-background: #2F303A;
$selection-color: #2196F3;
$white-color: #ffffff;
$icon-color: #AFB1B8;
$timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);